@CHARSET "ISO-8859-1";

#header {
	width: 95%;
	margin: auto;
	text-align: center;
}

#main-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#sidebar {
	width: 20%;
}

#content {
	width: 100%;
}

#footer {
	width: 100%;
	text-align: right;
}